---
export const prerender = false
import Project from "@components/en/Project.astro"
import Layout from "@layouts/en/Layout.astro"
import {findProjectBySlug} from '@lib/api/en/findProjectBySlug.js'
const projectSlug = typeof Astro.params.projectSlug === 'string' ? Astro.params.projectSlug : null;
const project = projectSlug ? findProjectBySlug(projectSlug) : null;
---

<Layout title={`Rafa Canosa | ${project ? project.name : ""}`} description={project ? project.description : ""}>
    <main>
        {project ? 
            <Project project={project}/> :
            null
        }
    </main>
</Layout>
