---
import Card from '@components/en/Card.astro'
import CardSkeleton from '@components/loaders/CardSkeleton.astro'
import Layout from '@layouts/en/Layout.astro'
import projectsData from '@lib/data/en/projects.json' 
import { SITE_DESCRIPTION_EN, SITE_NAME_EN, SITE_URL } from '@lib/constants'
import Hero from '@components/en/Hero.astro'
const importantProjects = projectsData.projects.filter(project => project.important)

---

<Layout title={SITE_NAME_EN} description={SITE_DESCRIPTION_EN} canonical=`${SITE_URL}/en`>
    <main>
        <Hero/>
        <section>
            <header class="flex justify-between items-center mb-8">
                <h2 class="text-3xl font-bold mb-4">Projects</h2>
                <a href="/en/archive" class="group mb-2 inline-flex items-center font-semibold leading-tight hover:text-teal-300">
                    Check more
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 h-4 w-4 rotate-360 transition-transform group-hover:translate-x-2" aria-hidden="true">
                        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
                    </svg>
                </a>
                </header>
            <ul class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
                {projectsData ? importantProjects.map((project) => (
                    <Card project={project}/>
                )) : <CardSkeleton/>}
            </ul>
        </section>
    </main>
</Layout>
