---
import Card from '../../components/en/Card.astro'
import CardSkeleton from '../../components/loaders/CardSkeleton.astro'
import Layout from '../../layouts/en/Layout.astro'
import projectsData from '../../lib/data/en/projects.json' 
import { SITE_URL } from '../../lib/constants'
---

<Layout title="Rafa Canosa | Works" description='Rafa Canosa portfolio. Front-end web developer.' canonical=`${SITE_URL}/en`>
    <main  id="start">
        <ul class="flex flex-col gap-8">
            {projectsData ? projectsData.projects.map((project) => (
                <Card project={project}/>
            )) : <CardSkeleton/>}
        </ul>
        <a href="#start" class="btn bg-white text-black hover:bg-slate-200 hover:transition-colors mt-8 flex items-center gap-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6568 8.96219L16.2393 10.3731L12.9843 7.10285L12.9706 20.7079L10.9706 20.7059L10.9843 7.13806L7.75404 10.3532L6.34314 8.93572L12.0132 3.29211L17.6568 8.96219Z" fill="currentColor" /></svg>
            Go back
        </a>
    </main>
</Layout>
