---
import Layout from "../../layouts/en/Layout.astro";
import { Image } from "astro:assets";
import Section from "../../components/en/info/Section.astro";
import ScrollSpy from "../../components/en/info/ScrollSpy.astro";
---

<Layout title="Rafa Canosa | Info" description='About Rafa Canosa. Front-end web developer.' canonical='https://rafa-canosa-portfolio.vercel.app/en/info'>
    <main class="flex flex-col gap-8">
        <ScrollSpy/>
        <h1 id="about-me" class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-teal-300">About Me</h1>
        <Image class="rounded-xl shadow-sm hover:shadow-teal-300 hover:shadow-lg hover:transition" src="/avatar.avif" alt="Rafa Canosa foto" width={200} height={200}/>
        <p>I am passionate about creating beautiful products that empower people. With over 2 years of hands-on experience in crafting web applications, I have honed my skills in programming languages essential for the web, along with a proficiency in designing high-performance applications. I bring a proactive approach to resolving challenges and a dedication to effective collaboration.</p>
        <Section/>
    </main>
</Layout>