---
import Card from "@components/en/Card.astro";
import Layout from "@layouts/en/Layout.astro";
import { getSortedProjects } from "@lib/api/en/projects";
import ArrowLeft from "@lib/icons/ArrowLeft.astro";
import ArrowTop from "@lib/icons/ArrowTop.astro";
const sortedProjects = getSortedProjects();
---

<Layout title="Projects | Rafa Canosa" description="All the Rafa Canosa projects.">
    <main class="px-4 sm:px-6 lg:px-8">
        <header class="mb-8" id="start">
            <a href="/en" title="Back" class="group mb-2 inline-flex items-center font-semibold leading-tight text-teal-300 text-sm gap-1">
                <ArrowLeft/>
                Back
            </a>
            <h1 class="text-3xl font-bold mb-4">All Projects</h1>
        </header>
        <ul>
            {sortedProjects.map((project) => (
                <Card project={project}/>
            ))}
        </ul>
        <a href="#start" title="Back to top" class="btn bg-transparent text-slate-100 hover:text-teal-300 hover:transition-colors mt-8 flex items-center gap-2">
            <ArrowTop/>
            Back to top
        </a>
    </main>
</Layout>
