---
import Layout from "@layouts/es/Layout.astro"
import { SITE_DESCRIPTION_ES } from "@lib/constants"
import { actions } from "astro:actions";
import ArrowLeft from "@lib/icons/ArrowLeft.astro";

export const prerender = false // ssr
---

<Layout title="Contacto | Rafa Canosa Portfolio" description={SITE_DESCRIPTION_ES}>
    <main>
        <header class="mb-8" id="start">
          <a href="/" title="Volver" class="group mb-2 inline-flex items-center font-semibold leading-tight text-teal-300 text-sm gap-1">
              <ArrowLeft/>
              Volver
          </a>
          <h1 class="text-3xl font-bold mb-4">Contacto</h1>
      </header>
          <div class="shadow-lg">
            <form class="space-y-4" action={actions.send} method="POST">
              <div class="w-full">
                <label class="sr-only" for="name">Name</label>
                <input class="input input-solid max-w-full" placeholder="Name" type="text" id="name" />
              </div>
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div>
                  <label class="sr-only" for="email">Email</label>
                  <input class="input input-solid" placeholder="Email address" type="email" id="email" />
                </div>
                <div>
                  <label class="sr-only" for="subject">Subject</label>
                  <input class="input input-solid" placeholder="Subject" type="text" id="subject" />
                </div>
              </div>
              <div class="w-full">
                <label class="sr-only" for="message">Message</label>
                <textarea class="textarea textarea-solid max-w-full" placeholder="Message" rows="8" id="message"></textarea>
              </div>
              <div class="mt-4">
                <button type="button" class="rounded-lg btn bg-accent text-black btn-block">Send Enquiry</button>
              </div>
            </form>
          </div>
    </main>
</Layout>