---
import Layout from "@layouts/es/Layout.astro"
import { SITE_DESCRIPTION_ES } from "@lib/constants"
---

<Layout title="Contacto | Rafa Canosa Portfolio" description={SITE_DESCRIPTION_ES}>
    <main>
     Success! Your message has been sent.
    </main>
</Layout>