<div class="xl:grid grid-cols-5 fixed left-0 pl-12 hidden">
    <div class="col-span-2">          
      <ul class="sticky top-0" data-hs-scrollspy="#scrollspy-2" data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2">
        <li data-hs-scrollspy-group>
            <a title="About me" href="#about-me" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">About me</a>
        </li>
        <li>
            <a title="Technologies" href="#technologies" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">Technologies</a>
        </li>
        <li data-hs-scrollspy-group>
          <a title="Studies" href="#studies" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">Studies</a>
        </li>
      </ul>
    </div>
    </div>
  </div>