---
import Layout from "@layouts/en/Layout.astro";
import { SITE_DESCRIPTION_EN, SITE_NAME_EN, SITE_URL } from "@lib/constants";
import { ArrowLeft, Frown } from "lucide-astro";
---

<Layout title={`404 | ${SITE_NAME_EN}`} description={SITE_DESCRIPTION_EN} canonical=`${SITE_URL}/en`>
    <main class="h-screen items-center justify-center flex flex-col gap-4">
        <Frown class="h-10 w-10" />
        <h1 class="flex items-center gap-2 text-4xl font-bold text-slate-100">
            404
        </h1>
        <p class="text-lg text-zinc-300">The page you are looking for does not exist.</p>
        <a href="/en" class="btn bg-transparent text-slate-100 hover:text-teal-300 hover:transition-colors mt-8 flex items-center gap-2">
            <ArrowLeft class="h-4 w-4" />
            Go back
        </a>
    </main>
</Layout>