---
import Layout from '../layouts/es/Layout.astro';
import projectsData from '../lib/data/es/projects.json' 
import Card from '../components/es/Card.astro'
import CardSkeleton from '../components/loaders/CardSkeleton.astro';
---

<Layout title="Rafa Canosa | Trabajos" description='Portfolio de Rafa Canosa. Desarrollador de aplicaciones web Front-end.' canonical='https://rafa-canosa-portfolio.vercel.app/'>
	<main id="start">
		<ul class="flex flex-col gap-8 items-center">
            {projectsData ? projectsData.projects.map((project) => (
                <Card project={project}/>
            )) : <CardSkeleton/>}
        </ul>
        <a href="#start" class="btn bg-white text-black hover:bg-slate-200 hover:transition-colors mt-8 flex items-center gap-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6568 8.96219L16.2393 10.3731L12.9843 7.10285L12.9706 20.7079L10.9706 20.7059L10.9843 7.13806L7.75404 10.3532L6.34314 8.93572L12.0132 3.29211L17.6568 8.96219Z" fill="currentColor" /></svg>
            Volver
        </a>
	</main>
</Layout>
