---
import Layout from '@layouts/es/Layout.astro';
import Card from '@components/es/Card.astro'
import { SITE_DESCRIPTION_ES, SITE_NAME_ES, SITE_URL } from '@lib/constants';
import { getImportantProjects } from '@lib/api/es/projects';
import Hero from '@components/es/Hero.astro';
import Section from '@components/ui/Section.astro';
import Contact from '@components/es/Contact.astro';

const importantProjects = getImportantProjects()
---

<Layout title={SITE_NAME_ES} description={SITE_DESCRIPTION_ES} canonical={SITE_URL}>
    <main>
        <Hero/>
        <Section title='Proyectos' more>    
        <ul>
            {importantProjects.map((project) => (
                <Card project={project}/>
            ))}
        </ul>
    </Section>
        <Section title='Contacto'>
            <Contact/>
        </Section>
    </main>
</Layout>
