---
import {Heart} from "lucide-astro";
---

<footer class="mt-8 py-4 mx-auto flex gap-2 justify-center items-center text-primary bg-card" >
    Creado con <Heart class="h-4 w-4"/> por <a href="/" title="rafacanosa.dev">Rafa</a>
</footer>

<style>
    footer{
        background-color: #121214;
		background-image: linear-gradient(to top, black, #101011);
    }
</style>