---
import { Github, Linkedin, Coffee, Mail } from "lucide-astro"
import ContactBtn from "@components/ui/ContactBtn.astro"
import Label from "@components/ui/Label.astro"
import Input from "@components/ui/Input.astro"

const contactBtns = [
    {
        logo: Github,
        title: "GitHub",
        link: "https://github.com/Rafacv23"
    },
    {
        logo: Linkedin,
        title: "Linkedin",
        link: "https://www.linkedin.com/in/rafa-canosa-vallejo-6328a5194/"
    },
    {
        logo: Coffee,
        title: "Buy me a coffee",
        link: "https://ko-fi.com/rafacanosa"
    }
]
---
<form class="grid gap-4 pt-4">
    <Label name="Name"/>
    <Input name="name" placeholder="Your name" />
    <Label name="Email"/>
    <Input name="email" placeholder="Your email" />
    <Label name="Message"/>
    <textarea class="bg-zinc-900 rounded-md border-0 py-2 px-3 text-black dark:text-white focus:outline-none focus:ring-2 focus:ring-teal-300 disabled:cursor-not-allowed disabled:opacity-70" id="message" name="message" placeholder="Your message" required></textarea>
    <button type="submit">Send</button>
    </form>
    <footer class="mt-4">
    <ul class="flex flex-col gap-4">
            {contactBtns.map((btn) => (
                <ContactBtn logo={btn.logo} title={btn.title} link={btn.link}/>
            ))}
<li>
    <button class="relative group/btn flex space-x-2 items-center justify-start px-4 w-full text-white rounded-md h-10 font-medium shadow-input bg-gray-50 dark:bg-zinc-900 dark:shadow-[0px_0px_1px_1px_var(--neutral-800)]" type="submit">
            <Mail/>
            <span class="text-neutral-700 dark:text-neutral-300 text-sm">
                Copy email
            </span>
            <span class="group-hover/btn:opacity-100 block transition duration-500 opacity-0 absolute h-px w-full -bottom-px inset-x-0 bg-gradient-to-r from-transparent via-teal-300 to-transparent">
            </span>
            <span class="group-hover/btn:opacity-100 blur-sm block transition duration-500 opacity-0 absolute h-px w-1/2 mx-auto -bottom-px inset-x-10 bg-gradient-to-r from-transparent via-teal-300 to-transparent"></span>
        </button>
</li>
    </ul>
</footer>
