<section id="contact">
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email" required>
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Your message" required></textarea>
        <button type="submit">Send</button>
    </form>
    <footer>
        <p>If you want to contact me, you can send me an email at <a href="mailto:rafacv23@gmail.com">rafacv23@gmail.com</a></p>
    </footer>
</section>