---
import {Heart} from "lucide-astro";
const currentPath = Astro.url.pathname
---

<footer class="mt-8 py-4 mx-auto flex gap-2 justify-center items-center" >
    Created with <Heart/> by <a href={currentPath} title="rafacanosa.dev">Rafa</a>
</footer>

<style>
    footer{
        background-color: #121214;
		background-image: linear-gradient(to top, black, #101011);
    }
</style>