---
import {Heart} from "lucide-astro";
const currentPath = Astro.url.pathname
const spanishPath = currentPath === "/en" ? "/" :  currentPath.replace(/^\/en/, '');
---

<footer class="my-8 max-w-[800px] mx-auto flex gap-2 justify-center items-center" >
    Created with <Heart/> by <a href="https://rafacanosa.dev" title="rafacanosa.dev">Rafa</a>
</footer>

<style>
    footer{
        background-color: #121214;
		background-image: linear-gradient(to top, black, #101011);
    }
</style>