---
import { Linkedin, Github, Languages } from "lucide-astro";
const currentPath = Astro.url.pathname
const spanishPath = currentPath === "/en" ? "/" :  currentPath.replace(/^\/en/, '');
---

<div class="navbar navbar-glass navbar-sticky max-w-[800px] mx-auto">
	<div class="navbar-start">
		<a class="navbar-item flex items-center gap-2" href="/" title="Home">
			rafacanosa.dev
		</a>
	</div>
	<div class="navbar-end">
		<div class="flex items-center gap-4">
			<a class="text-sm flex flex-row items-center gap-2" title="Linkedin" href="https://www.linkedin.com/in/rafa-canosa-vallejo-6328a5194/" rel="noreferrer" target="_blank">
				<Linkedin/>
			</a>
			<a title="Github" rel="noreferrer" target="_blank" href="https://github.com/Rafacv23" class="text-sm flex flex-row items-center gap-2">
				<Github />
			</a>
			<a title="Change to spanish version" href=`${spanishPath}` class="text-sm flex flex-row items-center gap-2">
				<Languages />
			</a>
		</div>
	</div>
</div>