<div class="xl:grid grid-cols-5 fixed left-0 pl-12 hidden">
    <div class="col-span-2">          
      <ul class="sticky top-0" data-hs-scrollspy="#scrollspy-2" data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2">
        <li data-hs-scrollspy-group>
            <a title="Sobre mí" href="#sobre-mi" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">Sobre mí</a>
        </li>
        <li>
            <a title="Tecnlogías" href="#tecnologias" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">Tecnologías</a>
        </li>
        <li data-hs-scrollspy-group>
          <a id="Estudios" href="#estudios" class="block py-0.5 leading-6 text-base hover:text-teal-300 hover:transition">Estudios</a>
        </li>
      </ul>
    </div>
    </div>
  </div>