---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<label for={name.toLowerCase()} class="text-sm font-medium text-black dark:text-white leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
    {name}
</label>
