---
import ArrowRight from '@lib/icons/ArrowRight.astro';

interface Props {
    title: string;
    more?: boolean
    english?: boolean
}

const { title, more, english } = Astro.props;
---

<section id={title.toLowerCase()}>
    <header class="flex justify-between items-center mb-8">
        <h2 class="text-3xl font-bold mb-4 text-primary">{title}</h2>
        {more ? 
        <a href={english ? "/en/projects" : "/projects"} class="group mb-2 inline-flex items-center font-semibold leading-tight hover:text-accent text-sm gap-1 text-secondary">
            {english ? "Check more" : "Ver más"}
            <ArrowRight/>
        </a>
        : null
    }
    </header>
        <slot/>
</section>