---
import { Github, Linkedin, Twitter, Code2, Book } from "lucide-astro";
import ArrowTopRight from "@lib/icons/ArrowTopRight.astro";

type Link = {
    title: string;
    url: string;
    icon: typeof Github;
}

const LINKS: Link[] =
    [
        {
            title: "GitHub",
            url: "https://github.com/rafacanosa",
            icon: Github,
        },
        {
            title: "LeetCode",
            url: "https://leetcode.com/rafacanosa/",
            icon: Code2,
        },
        {
            title: "LinkedIn",
            url: "https://www.linkedin.com/in/rafacanosa/",
            icon: Linkedin,
        },
        {
            title: "Twitter",
            url: "https://twitter.com/rafacanosa",
            icon: Twitter,
        },
        {
            title: "Blog",
            url: "https://news.rafacanosa.dev",
            icon: Book,
        },
        {
            title: "Mi libro",
            url: "https://www.amazon.es/Hanami-Rafa-Canosa/dp/841836985X/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3TMTXTRMV072P&dib=eyJ2IjoiMSJ9.59-nx4n99Wxq5NAWekF6jQ.d602bBgHoRyzFsf_QS_i01rvQ6eOZPUAsWIoGkp7DoQ&dib_tag=se&keywords=hanami+rafa+canosa&qid=1758825151&sprefix=hanami+rafa+canosa%2Caps%2C47&sr=8-1",
            icon: Book,
        },
    ],
---

<section>
    <ul>
        {
            LINKS.map((link) => (
                <li key={link.title} className="mb-12">
                    <a
                        href={link.url}
                        title={link.title}
                        target="_blank"
                        rel="noopener noreferrer"
                        className="card-header hover:text-teal-300 hover:transition cursor-pointer text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-teal-300"
                    >
                        <h3 className="inline-flex gap-2 items-baseline font-medium leading-tight text-slate-100 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base">
                            <link.icon size={20} />
                            {link.title}
                            <ArrowTopRight size={16} />
                        </h3>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
